@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background-color: rgb(213, 220, 223);
}

body,
html {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: inherit;
}

button:hover {
  box-shadow: 3px 3px 3px lightgray;
}

.container {
  display: grid;
  height: 100%;
  grid-template: auto 7fr / auto 5fr;
}

#sidebar {
  grid-row: 1 / 3;
  background-color: cornflowerblue;
  color: white;
}

.sidebar-header a{
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 25px;
  font-size: 1.2rem;
  align-items: center;
  gap: 10px;
  margin-right: 2rem;
}

.sidebar-header svg {
  width: 50px;
  height: 50px;
}

.sidebar-header h1 {
  margin: 0;
}

#sidebar ul {
  list-style-type: none;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

#sidebar ul li {
  width: min-content;
  margin: 1rem 0;
}

#sidebar ul li a {
  text-decoration: none;
  color: white;
  display: grid;
  grid-template-columns: 50px min-content;
  font-size: 1.4rem;
  font-weight: bold;
  align-items: center;
}

#header {
  display: grid;
  grid-template: auto auto / 3fr minmax(auto, 1fr);
  padding: 1rem 5rem 1rem 3rem;
  align-items: center;
  gap: 2rem;
}

.navbar form {
  display: grid;
  grid-template-columns: 1.5rem 1fr;
  gap: 1rem;
  align-items: center;
}

#search-icon {
  height: 1.8rem;
  margin-bottom: -2px;
}

.navbar form input[type="search"] {
  height: 2rem;
  border-radius: 1rem;
  background-color: var(--background-color);
  border: none;
  padding: 0 0.8rem;
  font-size: 1rem;
}

.profile {
  display: grid;
  justify-content: end;
}

.profile-info {
  width: min(250px, 20vw);
  display: grid;
  grid-template-columns: 0.5fr 1fr 2fr;
  align-items: center;
  gap: 30px;
}

#header a {
  width: max-content;
  display: grid;
  align-items: center;
}

.profile-picture-wrapper {
  background-color: rgb(255, 208, 0);
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

div.small {
  height: 3rem;
  width: 3rem;
}

.profile-picture-wrapper a {
  text-decoration: none;
  display: grid;
  align-items: center;
}

#notification-picture {
  height: 1.7rem;
}

#profile-picture {
  height: 2.5rem;
  aspect-ratio: 1 / 1;
}

p.username {
  font-weight: 600;
  font-size: 1.3rem;
}

.welcome {
  display: grid;
  grid-template-columns: 4rem 1fr;
  align-items: center;
  gap: 1rem;
}

.welcome .profile-picture-wrapper {
  height: 4rem;
  width: 4rem;
}

.welcome .greeting-wrapper p {
  margin: 0;
  font-weight: 600;
  font-size: 0.8rem;
}

.welcome .greeting-wrapper p.username {
  font-size: 1.4rem;
}

.actions {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 5%;
  justify-content: end;
}

.actions button {
  background-color: rgb(73, 160, 247);
  border: none;
  color: white;
  padding: 0.7rem 0;
  border-radius: 1.5rem;
  font-weight: 900;
  font-size: 0.9rem;
  cursor: pointer;
}

#main {
  background-color: var(--background-color);
  display: grid;
  grid-template: auto auto / 1fr 300px;
  padding: 1.5rem 3rem 5rem 1.5rem;
  gap: 1.5rem;
}

#main h2 {
  margin: 0 0 0.8rem;
}

.announcements {
  display: grid;
  grid-template-rows: auto 1fr;
}


.projects {
  grid-row: 1 / -1;
}

.project-container {
  height: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, 400px);
  grid-auto-rows: 250px;
}

.announcement-container,
.trend-container,
.card {
  background-color: white;
  border-radius: 10px;
}

.announcement-container,
.trend-container {
  height: 400px;
  margin-bottom: 2rem;
}

.card {
  border-left: 10px solid rgb(240, 184, 0);
  padding: 40px 20px;
  display: grid;
  gap: 1rem;
}

.card h3 {
  margin: 0 0 0.2rem;
}

.card p {
  color: gray;
  font-size: 1rem;
  margin: 0;
}

.card div.project-actions {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
  padding: 0 10px;
}

.card div.project-actions > button {
  background-color: inherit;
  border: none;
  width: 24px;
  height: 24px;
  background-size: cover;
  cursor: pointer;
}

.card div.project-actions .favorite-button {
  background-image: url("images/star.svg");
}

.card div.project-actions .watchlist-button {
  background-image: url("images/eye.svg");
}

.card div.project-actions .share-button {
  background-image: url("images/share.svg");
}

.announcement-container {
  display: grid;
  padding: 25px 35px;
  grid-template-rows: repeat(5, auto);
  align-items: center;
}

.announcement h3 {
  margin: 0;
  font-size: 0.95rem;
}

.announcement p {
  margin: 0;
  color: gray;
  font-size: 0.87rem;
}

.announcement-container hr {
  margin: 0 -10px;
  border: 1px solid lightgray;
}

.trending {
  display: grid;
  grid-template-rows: auto 1fr;
}

.trend-container {
  padding: 10px 25px;
  display: grid;
  grid-auto-rows: 1fr;
  align-items: center;
  height: 140%;
} 

.trending-project .profile-picture{
  height: 3rem;
  width: 3rem;
}

.trending-project {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  height: max-content;
}

.trending-project p {
  font-size: 1rem;
  margin: 0;
}

.trending-project p.project-name {
  color: gray;
}

.trending-project .info {
  height: max-content;
}

